.card-container {
	background: black;
	display: flex;
	flex-direction: column;
	width: 46%;
	margin: 0.4rem;
}
.card-container img {
	height: 40%;
}
.card-container h4, 
.card-container p {
	color: white;
	padding-left: 8px;
}
.card-container h4 {
	margin-top: 1rem;
	font-size: 20px;
	font-weight: 700;
}
.card-container p {
	font-size: 10px;
	padding-bottom: 8px;
	height: 30px;
	overflow-y: scroll;
	color: #F5F5F5;
	opacity: 0.56;
}