.search-page{
    background-color: #131313;
}

.result-box{
    padding: 88px 10px 10px 10px;
}

.result-box h2{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
}

.search-page__content{
	display: grid;
    grid-template-columns: repeat( auto-fit, minmax(160px, 1fr));
    padding: 0 10px 5px 10px;
    gap: 10px;
}

/* Styling for ./modules/FilterBar.js */

.filter-bar-search{
    padding: 14px 5px;
}

.filter-bar-search ul{
    display: flex;
    height: 48px;
    justify-content: space-around;
    border-bottom: 0.5px solid #494949;
}

.filter-bar-search ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 90px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
}
