.slider-control-centerright,
.slider-control-centerleft{
    display: none;
}

.paging-item,
.paging-item.active{
    border: none;
    padding: 0;
}

.paging-item button{
    outline: none;
}

.paging-dot{
    width: 8px !important;
    height: 8px !important;
    background-color: #777777 !important;
}

.paging-item.active .paging-dot{
    background-color: #FFFFFF !important;
}

.main-header{
    width: 100%;
    background-color: black;
    position: relative;
}

.poster{
    width: 100%;
    height: 476px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.poster__description{
    color: white;
    padding: 50px 10px;
}

.poster__description small{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}

.poster__description h2{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
    padding: 8px 0;
}

.poster__description p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    padding-right: 30px;
}

/* Styling for ./modules/Navigation.js */

.main-navigation{
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    box-sizing: border-box;
    position: fixed;
    width: inherit;
    z-index: 99;
  }

  .main-navigation.scrolling{
    background-image: linear-gradient(#000000,rgba(0,0,0,0.2));
  }

  .buttons-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75px;
  }

  .hamburger-menu{
    cursor: pointer;
  }

  /* Styling for ./modules/MobileMenu.js */

  .mobile-menu{
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 50;
    top: 0;
}
