.flow-main {
	background-color: #131313;
	position: relative;
	padding: 0 10px;
}

.flow-content {
	display: grid;
    grid-template-columns: repeat( auto-fit, minmax(170px, 1fr));
	gap: 10px;
}

ul.flow-categories-list {
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 1.8rem;
	min-height: 48px;
}

ul.flow-categories-list > li{
	position: relative;
	font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

ul.flow-categories-list > li.active{
	font-weight: 800;
}

ul.flow-categories-list > li::after{
	content: " ";
	display: block;
	position: absolute;
    transition: all .3s ease-in-out;
    border-radius: 4px;
    bottom: 20px;
    height: 3px;
    width: 100%;
}

ul.flow-categories-list > li.active::after{
	background-color: #CD7B29;
}

/* Styling for ./modules/Card.js */

.media-card{
	width: 100%;
	height: 254px;
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	overflow: hidden;
	background-color: #0B0B0B;
    position: relative;
}

.thumb__placeholder{
    position: relative;
}

.time-tag{
    right: 2px;
    bottom: 2px;
    padding: 2px;
    position: absolute;
    border-radius: 3px;
    background-color: rgba(11,11,11,0.6);
}

.time-tag > span{
    color: white;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.media-card__icon{
	position: absolute;
    top: 0;
    z-index: 5;
}

.media-card__thumb{
	width: 100%;
	max-height: 116px;
	object-fit: cover;
	display: block;
}

.media-card__info{
	flex: 1;
	overflow-y: hidden;
	color: white;
	padding: 16px 8px;
	box-sizing: border-box;
}

.media-card__info small{
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 20px;
	text-transform: uppercase;
    opacity: 0.8;
}

.media-card__info h2{
	font-style: normal;
	font-weight: 600;
    font-size: 15px;
    display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
    overflow: hidden;
    padding: 4px 0;
	text-overflow: clip;
}

.media-card__info p{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #F5F5F5;
	opacity: 0.56;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.flow-categories > ul.flow-categories-list {
    padding-top: 24px;
}

.flow-cta{
	width: 100%;
	height: 254px;
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	overflow: hidden;
	position: relative;
	background: #CE843A;
	grid-row-start: 3;
	justify-content: space-between;
	box-sizing: border-box;
	color: white;
	padding: 16px 8px;
}

.flow-cta h2{
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 36px;
}

.flow-cta p{
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
}

/* Styling for Flow/modules/FilterNav */

ul.filter-container {
	display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    padding: 0 0 8px 0;
    height: 48px;
    margin: 0;
    border-bottom: 0.5px solid #494949;
    margin-bottom: 10px;
}

ul.filter-container > li{
    cursor: pointer;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Styling for Flow/modules/FilterMenu */

.filter-menu {
	width: 100%;
	height: 300%;
	background-color: #131313;
	position: fixed;
	z-index: 60;
	top: -118%;
	left: 0;
}

.filter-menu ul {
	height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 !important;
}
.filter-menu li {
	padding: 10px;
	height: 40px;
	border-bottom: 1px solid #A6A6A6;
	display: flex;
	justify-content: space-between;
	z-index: 99;
}

.filter-menu img {
	height: 30px;
}

