.media-header {
    width: 100%;
    background-color: #131313;
}

.actionsOverlay{
    height: 100%;
    z-index: 99;
    position: absolute;
    bottom: 0;
}

.video-header__placeholder{
    position: relative;
    height: 244px;
    margin: 0 auto;
    width: 100%;
}

.video-header__placeholder img {
    width: 35px;
    height: auto;
    position: absolute;
    padding: 10px;
    z-index: 10;
    top: 0;
}

.video-header__placeholder:focus img {
    display: none;
}

.video-header__placeholder iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.video-header__info{
    height: 100%;
    overflow-x: hidden;
}

.video-header__info h2{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
}

.video-header__info p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.video-header__info .title_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.video-header__info .title_bar__dropdown{
    padding: 5px 10px;
    cursor: pointer;
    transform: rotate(180deg);
    transition: transform 0.2s;
}

.video-header__info .title_bar__dropdown.expanded{
    transform: rotate(0deg);
}

.video-header__description{
    padding: 0 10px;
}

.video-header__description.closed{
    max-height: 70px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-header__description.open{
    overflow-x: visible;
}

.video-header__share{
    padding: 24px 10px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-items: center;
}

.clap-button{
    flex: 1;
}

.clap-button img{
    margin-left: auto;
}

.clap-button img:hover{
    opacity: 0.5;
    cursor: pointer;
}

.share-button{
    cursor: pointer;
    margin-left: 8px;
}

.video-header__share > div{
    display: flex;
}

.video-header__share > div img{
    height: 48px;
    width: auto;
    display: block;
}

.media-header__meta{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.media-header__meta .left-col,
.media-header__meta .right-col{
    flex: 1;
}

.media-header__meta .left-col div,
.media-header__meta .right-col div{
    margin: 10px 0;
}

.media-header__meta h4{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 4px;
}

.media-header__meta small{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    display: block;
}

.play_tag-list{
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
}

.play_tag-list ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;;
    flex-wrap: wrap;
}

.play_tag-list ul Link{
    list-style: none;
    display: flex;
    justify-content: flex-start;;
    flex-wrap: wrap;
}

.play_tag-list li{
    padding: 5px 15px;
    border: 2px solid white;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    margin: 10px 5px 0 5px;
}

.playpage-cta {
    display: flex;
    color: white;
	border-radius: 8px;
	position: relative;
	background: #CE843A;
    justify-content: space-between;
    flex-direction: column;
	box-sizing: border-box;
    margin: 24px 10px 8px 10px;
    padding: 16px;
}

.playpage-cta h2{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    padding-bottom: 10px;
}

.playpage-cta p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
}

/* Start styling ./modules/ShareBar.js */

.share-bar{
    transform: translateX(100%);
    position: absolute;
    z-index: 50;
    right: 0;
    width: 48px;
    height: 214px;
    top: -60px;
}

.share-bar img{
    width: 100%;
    height: 100%;
}

.share-bar.open{
    transform: translateX(0);
}

/* Start styling ./modules/FlowPlayerPage.js */

.flowplayer{
    padding: 25px 5px 0 5px;
    background-color: #131313;
}

.flowplayer__related ul{
    display: flex;
    padding-bottom: 20px;
    justify-content: space-around;
    border-bottom: 0.5px solid #494949;
}

.flowplayer__related li.active{
	font-weight: 800;
}

.flowplayer__related li{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.flowplayer__related li::after{
	content: " ";
	display: block;
	position: absolute;
    transition: all .3s ease-in-out;
    border-radius: 4px;
    bottom: -10px;
    height: 3px;
    width: 100%;
}

.flowplayer__related li.active::after{
	background-color: #CD7B29;
}

.flowplayer__content{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(170px, 1fr));
    padding-top: 10px;
	gap: 10px;
}
