/* Styles for /Searchfield/List */

.search-result{
    padding: 5px;
    min-height: 100vh;
    background-color: #131313;
}

.search-result .flexbar{
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-left: 5px;
    width: 100%;
}

.search-result .flexbar > h4{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    padding-bottom: 5px;
    padding-right: 10px;
    cursor: pointer;
}

.filter-bar{
    position: relative;
    flex: 1;
}

.filter-bar img{
    position: absolute;
    top: 24px;
    left: 12px;
}

.input {
	background: grey;
	color: white;
	height: 25px;
    width: 75%;
	border: none;
	outline: none;
	flex-shrink: 1;
	border-radius: 15px;
    padding: 5px 5px 5px 40px;
    margin: 18px 0px 24px 0px;
}

/* Edge */
::-webkit-.input-placeholder {
  color: white;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

/* Internet Explorer 10-11 */
:-ms-.input-placeholder {
  color: white;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

::placeholder {
  color: white;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.dropdown-window.open {
	overflow-x: visible;
    overflow-y: scroll;
    display: grid;
    height: 100%;
    grid-template-columns: repeat( auto-fit, minmax(170px, 1fr));
    padding: 0 5px;
    gap: 8px;
}
.dropdown-window.closed {
	overflow: hidden;
	display: none;
}

.search-result-filter ul{
    height: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 0.5px solid #494949;
}

.search-result-filter ul > li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 90px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
}
